@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

/* how to change text of whole body */
body{
    font-family: 'Poppins', sans-serif; /*this means of arial is not there it will look for helvtiva, if not for san -sarif */
    font-weight: 500; 
}

h1{
    /* color: gray; */
    /* color : rgb(255, 0, 0);  */
    /* color : #abcdef; */ /*lil tip for light colors like gray  use 2 letters such ababab, cdcdcd, efefef  */
    color: #fff; /*this will give you white color */
    background-color: #000; /* for black use this */
}
